body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12pt;
	font-style: normal;
	line-height: 1.1em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333;
	background-color: #FFC;
	margin: 0px;
}


#headline {
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	background-color: #CFC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #96C;
	margin: 0px;
	padding-bottom: 0.1em; 
	padding-top: 1em;
	padding-left: 1ex;
	padding-right: 1ex;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 1.3em;
}

#content {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

#content a:link, #content a:visited {
	text-decoration:none;
	color: #96C;
}

#content a:active, #content a:hover {
	text-decoration: underline;
	color: #96C;
}

#nav ul {
	
	list-style-type: none;
}

.navItem, .navInfoItem {
	font-size: 11pt;
	font-weight: bold;
}

.navItem a:link, .navItem a:visited {
	text-decoration: none;
	color: #CFC;
}

.navItem a:active, .navItem a:hover {
	text-decoration: none;
	color: #C00;
}